*{
    box-sizing:border-box;
}
html{
    height:100vh;
}
body{
    font-family:'Outfit';
    margin:0;
    padding:0px;
    height:100%;
    align-content:center;
    justify-items: center;
}
.main-container{
    display:flex;
    flex-direction:column;
    width:max-content;
    border:4px solid black;
    border-radius: 2em;
}
.title{
    text-align:center;
    font-size:xx-large;
    font-weight:500;
}
.game-container{
    display:flex;
    flex-direction:row;
}
.boxes{
    display:grid;
    height:auto;
    align-items:center;
    justify-content: space-evenly;
    padding:20px;
}
.box{
    width:125px;
    height:125px;
    margin:0.5rem;
    position:relative;
    background:white;
    border: 4px solid black;
    border-radius:20px;
    transition:0.5s;

    /* FOR THE TEXT INSIDE THE BOX */
    display: flex;
    text-transform:uppercase;
    font-size:75px;
    color:black;
    justify-content: center;
    align-items: center;
}
.matched{
    border: 4px solid #ffd000;
    box-shadow:1px ;
}
.attemptsandtimer-container{
    display:flex;
    flex-flow:row;
}
.timer{
    padding:20px;
    text-align:center;
    margin-left:auto;
    font-weight:700;
}
.attempts{
    padding:20px;
    white-space:pre-wrap;
}
.difficulty{
    padding:20px;
    width:185px;
    height:auto;
    #slct{
        display:grid;
        grid-template-columns:auto 60px;
        gap: 10px;
        margin-bottom: 10px;
    }
    hr{
        margin-top: 40px;
        height:4px;
    }
    ul{
        list-style-type:none;
        padding:0;
    }
}
#select-n{
    float:right;
}
input{
    background-color: white;
    border:1px solid black;
    transition:0.2s;
}
input:read-only{
    background-color: #ececec;
}