*{
    box-sizing:border-box;
}
html{
    height:100vh;
}
body{
    font-family:'Outfit';
    margin:0;
    padding:0px;
    height:100%;
    align-content:center;
    justify-items: center;
}
.main-container{
    display:flex;
    flex-direction:column;
    background-color:red;
    width:max-content;
}
.title{
    background-color:green;
}
.game-container{
    display:flex;
    flex-direction:row;
    background-color:blue;
}
.boxesandattempts-container{
    background-color: yellow;
    padding: 20px;
}
.boxes{
    display:grid;
    height:auto;
    align-items:center;
    justify-content: space-evenly;
    background-color:rgb(28, 80, 104);
    padding:20px;
}
.box{
    width:125px;
    height:125px;
    margin:1rem;
    position:relative;
    background-color:white;
    border: 4px solid blue;
    transition:0.5s;

    /* FOR THE TEXT INSIDE THE BOX */
    display: flex;
    text-transform:uppercase;
    font-size:75px;
    color:black;
    justify-content: center;
    align-items: center;
}
.attempts{
    background-color: firebrick;
    padding:20px;
    white-space:pre-wrap;
}
.difficulty{
    background-color:chartreuse;
    padding:20px;
    width:185px;
    height:auto;
    #slct{
        display:grid;
        grid-template-columns:auto 60px;
        gap: 10px;
        margin-bottom: 10px;
    }
    hr{
        margin-top: 40px;
    }
}
#select-n{
    float:right;
}