*{
    box-sizing:border-box;
}
html{
    height:100vh;
    background-image:url('../img/background/lines-background-0oce7fbzkt5tr7nc.jpg');
}
body{
    font-family:'Outfit';
    margin:0;
    padding:0px;
    height:100%;
    align-content:center;
    justify-items:center;
}
.main-container{
    display:flex;
    flex-direction:column;
    width:max-content;
    border:4px solid black;
    border-radius: 2em;
    background:white;
}
.title{
    text-align:center;
    font-size:xx-large;
    font-weight:500;
    padding:15px;
}
.game-container{
    display:flex;
    flex-direction:row;
}
.boxes{
    display:grid;
    height:auto;
    align-items:center;
    justify-content: space-evenly;
    padding:20px;
}
.box{
    margin:0.5rem;
    position:relative;
    background:white;
    border: 4px solid black;
    border-radius:20px;
    transition:0.5s;

    /* FOR THE TEXT INSIDE THE BOX */
    display: flex;
    text-transform:uppercase;
    color:black;
    justify-content: center;
    align-items: center;


}
/*SIZES FOR BOXES*/
.S{
    width:80px;
    height:80px;
    font-size:45px;
}
.M{
    width:110px;
    height:110px;
    font-size:65px;
}
.L{
    width:150px;
    height:150px;
    font-size:90px;
}
.matched{
    border: 4px solid #ffd000;
    color:#ffd000;
}
.attemptsandtimer-container{
    display:flex;
    flex-flow:row;
}
.timer{
    padding:20px;
    text-align:center;
    margin-left:auto;
    font-weight:1000;
    width:100px;

    display: flex;
    flex-flow:column;
    justify-content: center;
    align-items: center;

    div{
        width:100%;
        font-size:20px;
    }
}
.attempts{
    padding:20px;
    white-space:pre-wrap;

    display: flex;
    justify-content: center;
    align-items: center;
}
.sizing{
    padding:20px;
    text-align: center;
    margin-left: auto;
    display:flex;
    flex-flow:column;
    div{
        display:flex;
        flex-flow:row;
        gap:10px;
    }
    .sizesel{
        height:30px;
        width:30px;
        border: 2px solid;
        border-radius:10px;
        transition:0.5s;
        font-weight:bold;

        display: flex;
        text-transform:uppercase;
        font-size:15px;
        justify-content: center;
        align-items: center;
    }
    .sizesel:hover:nth-child(1){
        border-color:#8791c0;
        color:#8791c0;
        background:#d1eaff;
    }
    .sizesel:hover:nth-child(2){
        border-color:#c08787;
        color:#c08787;
        background:#ffd1d1;
    }
    .sizesel:hover:nth-child(3){
        border-color:#baccb7;
        color:#baccb7;
        background:#d1ffd1;
    }
    #S.activated{
        color:#002fff;
        border-color:#002fff;
        background:#d1eaff;
    }
    #M.activated{
        color:#ff0000;
        border-color:#ff0000;;
        background:#ffd1d1;
    }
    #L.activated{
        color:#22ca47;
        border-color:#22ca47;
        background:#d1ffd1;
    }
}
.difficulty{
    padding:20px;
    width:185px;
    height:auto;
    #slct{
        display:grid;
        grid-template-columns:auto 60px;
        gap: 10px;
        margin-bottom: 10px;
    }
    hr{
        margin-top: 40px;
        height:4px;
    }
    ul{
        list-style-type:none;
        padding:0;
    }
    label{
        display:flex;
        vertical-align: center;
        padding:3px;
    }
}
button,input{
    height:25px;
    img{
        height:20px;
        width:auto;
    }
}
#select-n{
    float:right;
    appearance:none;
    background-color:white;
    border:2px solid black;
    border-radius: 5px;
    width:auto;
    transition:0.5s
}
#reveal{
    float:left;
    appearance:none;
    border:none;
    background:none;
}
#select-n:hover{
    border-color:#587255;
    color:#587255;
    background-color: #caffe0;
}
#reveal:hover{
    background: radial-gradient(closest-side,#00ff2a, transparent);
}
input{
    border:2px solid black;
    border-radius: 5px;
    transition:0.2s;
}
input:read-only{
    border-color:#707070;
    color:#707070;
    background-color: #ececec;
}
#rows-n:read-write:hover{
    border-color: #896fa7;
    background-color: #dcd8ff;
}
#columns-n:read-write:hover{
    border-color: #a76f6f;
    background-color: #ffebd8;
}
input[type="checkbox"]{
    margin:0;
    margin-right:3px;
    border:2px solid black;
    border-radius: 5px;
    appearance:none;
    height:20px;
    width:20px;
}
#easy:hover{
    background:#ccfffb;
    border-color:#61cac1;
}
#easy:checked{
    background:#00ffea;
    border-color:#007e73;
}
#medium:hover{
    background:#fffabb;
    border-color:#c0d467;
}
#medium:checked{
    background:#ffee00;
    border-color:#887f00;
}
#hard:hover{
    background:#ffc2c2;
    border-color:#d47d67;
}
#hard:checked{
    background:#ff0000;
    border-color:#7c0000;
}
#custom:hover{
    background:#f9c8ff;
    border-color:#9f67d4;
}
#custom:checked{
    background:#e100ff;
    border-color:#680075;
}